body {
  background-color: #cccccc;
}

#banner {
  width: 100%;
}

h1 {
  text-align: center;
}

P {
  text-align: center;
  background-color: #cccccc;
}

#pet {
  font-size: 20px;
}

em strong {
  color: red;
}
